body {
  background-color: #d6e2f0;
}

.design {
  transform: scale(0.6);
  background-color: white;
  border: 0px solid;
  border-radius: 25px;
  padding-top: 20px;
  position: absolute;
  right: 30%;
}

.image {
  border-radius: 25px;
  width: 476px;
  height: 476px;
}

.title-font {
  font-family: 'Outfit', sans-serif;
  color: #1f3251;
  font-size: 32px;
  text-align: center;
}

.paragraph-font {
  font-family: 'Outfit', sans-serif;
  color: #7b879d;
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;
}